version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: gedpro-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

  postgres:
    image: postgres:16
    container_name: gedpro-postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gedpro
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongodb_data:
  postgres_data: